.event {
  border-radius: 0.5rem;
  position: absolute;
  background-color: #eeeeee;
  margin-top: 0.5rem;
  overflow: hidden;
  height: 8rem;
  min-width: 5rem;
}

.eventCompact {
  height: 4rem;
}

.title {
  margin: 0 0 0.2rem 0;
  font-size: 1.1rem;
  color: var(--text);
  font-weight: normal;
}

.dateContainer {
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--secondary);
  min-height: 2rem;
}

.eventDate {
  color: var(--subtext);
  font-size: 0.8em;
}

.titleContainer {
  flex: 1;
}
