:root {
    --primary: #555;
    --secondary: #ccc;
    --accent: #7b6021;
    --text: #333;
    --text-inverted: #fff;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

.title {
    font-weight: normal;
    color: #555;
    margin: 0;
    margin-bottom: 0.2em;
}

.container {
    padding: 1rem 2rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grow {
    flex: 1;
}