.timelineContainer {
  position: relative;
  height: 82vh;
  overflow-x: scroll;
  padding: 1rem 0;
}

.zoomContainer {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 9;
  align-items: end;
}

.zoomContainer button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.timelineBar {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: var(--primary);

  .tickmark {
    position: absolute;
    width: 1rem;
    margin-left: -0.5rem;
    display: flex;
    justify-content: center;

    .tickmarkMark {
      display: block;
      width: 10px;
      height: 10px;
      background: var(--primary);
      border-radius: 50%;
      position: absolute;
      top: -3px; /* Adjust to center on the line */
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    .tickmarkLabel {
      position: relative;
      top: 8px;
      color: var(--text);
    }
  }
}

.eventsContainer {
  position: relative;
  margin-top: 1.5rem;
}
